h1 {
color: #0ae420;
font-size: 50px;
text-transform: uppercase;
font-weight: normal;
text-align: center;
}
p {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: blueviolet;
}